**/__pycache__/**
**/.idea/**
**/build/**
**/node_modules/**
**/bin/**
**.so
/venv/
/Logs/
/RawData/
/OutputData/
/TempData/
/Viewer/webroot/js/regl-scatterplot/example/
/Viewer/webroot/js/regl-scatterplot/docs/
/Viewer/webroot/js/regl-scatterplot/data/
/Code/externals/FIt-SNE/bin/
/Code/externals/umap/.idea/
/Code/externals/umap/examples/
/Code/externals/umap/doc/
/Code/externals/umap/ci_scripts/
/Code/externals/bhtsne/bh_tsne
/Code/externals/LargeVis/Examples/
/Code/externals/LargeVis/Linux/build/
/Code/externals/LargeVis/Linux/LargeVis.egg-info/
/Code/externals/LargeVis/Linux/LargeVis
/Code/externals/LargeVis/Linux/LargeVis.cpython-38-x86_64-linux-gnu.so
/Code/externals/LargeVis/Windows/
/Code/externals/LargeVis/annoy_index_file
