**/__pycache__/**
**/.idea/**
**/build/**
**/node_modules/**
**/bin/**
**.so
/venv/
/Logs/
/RawData/
/OutputData/
/TempData/
/Viewer/webroot/js/regl-scatterplot/example/
/Viewer/webroot/js/regl-scatterplot/docs/
/Viewer/webroot/js/regl-scatterplot/data/
/Code/result.dat
/Code/data.dat
**annoy_index_file
/Code/externals/FItSNE/bin/
/Code/externals/FItSNE/src/winlibs/
/Code/externals/umap/.idea/
/Code/externals/umap/examples/
/Code/externals/umap/doc/
/Code/externals/umap/ci_scripts/
/Code/externals/umap/notebooks/
/Code/externals/bhtsne/bh_tsne
/Code/externals/LargeVis/Examples/
/Code/externals/LargeVis/Linux/build/
/Code/externals/LargeVis/Linux/LargeVis.egg-info/
/Code/externals/LargeVis/Linux/LargeVis
/Code/externals/LargeVis/Linux/LargeVis.cpython-38-x86_64-linux-gnu.so
/Code/externals/LargeVis/Windows/
/Code/externals/LargeVis/annoy_index_file
/Code/externals/pySRP/tests
/Code/externals/pySRP/docs
/Code/externals/pySRP/.travis.yml
/Code/externals/pySRP/docs/
/Code/externals/pySRP/tests/
/Code/externals/openTSNE/examples/
/Code/externals/openTSNE/docs/
/Code/externals/openTSNE/paper/
/Code/externals/openTSNE/notes/
/Code/externals/openTSNE/.ci/
/Code/externals/openTSNE/.github
/Code/externals/ParametricUMAP_paper/notebooks/
/Code/externals/ParametricUMAP_paper/images/
/Code/externals/Markov-Lipschitz-Deep-Learning/figs/
/Code/externals/topological-autoencoders/animations/
/Code/externals/topological-autoencoders/data/
