/RawData/
/temp/
/venv/
**/__pycache__/**
.idea/**
**/build/**
**/LargeVis.cpython-38-x86_64-linux-gnu.so
**/LargeVis.egg-info/**
/LargeVis/Examples/
/LargeVis/Linux/build/
/LargeVis/Linux/LargeVis.egg-info/
/LargeVis/Linux/LargeVis
/LargeVis/Linux/LargeVis.cpython-38-x86_64-linux-gnu.so
/LargeVis/Windows/
/OutputData/
/Viewer/webroot/js/regl-scatterplot/node_modules/
/Viewer/webroot/js/gl-text/node_modules/
/Viewer/webroot/js/regl-scatterplot/example/
/Viewer/webroot/js/regl-scatterplot/docs/
/Viewer/webroot/js/regl-scatterplot/data/
/Logs/
/FIt-SNE/bin/
/TempData/
